@media  screen and  (max-width: 1024px) {
    body{
        height: 100vh;
       

    }
    .start{
        top: 60%;
    }

    .start:hover{
        top:60%;
    }

    .dogSmile{
        top: 27%;
    }

    .cardsGrid{
        grid-template-columns: repeat(4, 80%);
        grid-template-rows: repeat(3, 8rem);
        
     
    }

    .chronos{
        width:14%;
        height:15%;
        margin-left:80%;

    }
    .chronos:hover{
        width: 14%;
        height: 15%;
        margin-left: 80%;
    }
    .dogRigth{
    width: 12%;
    height: 12%;
    margin-left: 81%;
    margin-bottom: 17%;
    }

    .instruction{
        width: 15%;
        height: 30%;
        margin-left: 5%;
    }
    .dogLeft{
        width: 7%;
        height: 25%;
        margin-left: 9%;
        margin-bottom: 27%;
    }
}