@import url('https://fonts.googleapis.com/css2?family=Sniglet&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sniglet:wght@800&display=swap');

*{
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
}

body{
    
    background-image: url("./img/Fondo.jpg");
    background-size: 100%;
    background-repeat: repeat;
    background-position:center;  
    font-family: 'Sniglet', cursive;
    /* overflow: hidden; */
  }

  
  .container{
    display: flex;
    align-items: center;
    align-self:center;
    flex-direction: column;
    background-color: rgba(113,201,206);
    border-radius: 40px;
    width: 650px;
    height: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    border: 10px solid #E3FDFD;
   
     
}

.show{
  pointer-events: auto;
  opacity: 1;
}

.title1{
    background-image: url(img/title1.png);  
    width: 25%;
    padding: 25%;
    align-items: center;
    background-size: contain;
    background-repeat: no-repeat;
  }

.dogSmile{
  background-image: url(img/dog-smile.gif);  
  padding: 7%;
  background-size: contain;
  position:absolute;
  left: 43%;
  top: 40%; 
  border: 8px solid #F3BC77;
  border-radius: 20px;
}

.start{
  background-image: url(img/Start.png);  
  padding: 4%;
  background-repeat: no-repeat;
  background-size: contain;
  position:absolute;
  left: 46%;
  top: 80%; 
}

.start:hover{
    background-image: url(img/Start2.png); 
    padding: 4%;
    background-repeat: no-repeat;
    background-size: contain;
    position:absolute;
    left: 46%;
    top: 80%; 
  }

  .footer{
    padding: 5%;
    position:absolute;
    top: 85%;
  } 

 /*Elementos externos del juego*/

 h1{
   color: #F0DAB1;
   font-size: 6vw;
   display: flex;
   justify-content: center;
   -webkit-text-stroke: 4px #A55233;
   font-family: 'Sniglet', cursive;
   text-shadow: black 0.1em 0.1em 0.2em;
   
 }
 .timeMove{
   display:grid;
   grid-template-columns: repeat(2, 20%);
   justify-content: center;
    -webkit-text-stroke: 1px #A55233;
    
   
  
 }

 h2{
   color:#F3BC77;
   font-size: 2vw;

 }
 .dogRigth{
  background-image: url('img/dogTime.png');
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  display: flex;
  justify-content: center;
   width:60;
  height: 40%;
 
}
 
 .dogLeft{
   background-image: url('img/dogInstructions.png');
   background-repeat: no-repeat;
   background-size: contain;
   position: absolute;
   display: flex;
   justify-content: center;
   position:absolute;
   width:10%;
   height: 30%;
   margin-left: 6em;
   margin-bottom: 28em;
   
   
 }

 .instruction{
   background-image: url('img/instrucciones.png');
   background-position-y: center;
   background-repeat: no-repeat;
   background-color: #F0DAB1; 
   background-size: 100%;
   border-radius: 20px;
   border:7px solid #A55233;
   display: flex;
   justify-content: center;
   position:absolute;
   width: 15%;
   height: 50%;
   margin-left: 3em;
   box-shadow: black 0.5em 0.5em 0.2em;
  }

  .timer{
    background-image: url('img/startTime.png');
    width: 30%;
    height: 100px;
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 600 px; 

   }
   
   
 
/* App */
.gameContainer{
  display: flex;
  flex-wrap:wrap;
  justify-content: left;
  align-items: center;
 
}
.cardsGrid{
  display:grid ;
  grid-template-columns: repeat(4, 55%);
  grid-template-rows: repeat(3 ,7rem);
  grid-gap: 10%;
  flex-wrap:wrap;
  justify-content: space-evenly;
  width: 94%;
  flex-direction: row;
  padding: 4% 40% 17% 40%;
  position: relative;
  top: 10%;
  left: 1%;
 }


 img{
border-radius: 10px;
border: 6px solid #A55233;
position: absolute;
width: 16vh;
height: 19vh;
top: 0.5;
transform :scale(1);
box-shadow: black 0.5em 0.5em 0.2em;


}
img:hover{
  transform: scale(0.95);
  transition:transform .3s;
}







