*{
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background-image: url("./img/Fondo.jpg");
    background-size: 100%;
    background-repeat: repeat;
    background-position:center;  
    overflow: hidden;
}

 .container{
    display: flex;
    background-color: rgba(113,201,206);
    border-radius: 40px;
    border-width: 20px;
    width: 700px;
    height: 700px;
    margin: 0 auto;
    align-items: center;
    flex-direction: column;
    border: 10px solid #E3FDFD;
     
}

.title1{
    background-image: url(img/title1.png);  
    width: 30%;
    padding: 35%;
    align-items: center;
    background-size: contain;
    background-repeat: no-repeat;
  }

.dogSmile{
  background-image: url(img/dog-smile.gif);  
  padding: 8%;
  background-size: contain;
  position:absolute;
  left: 41%;
  top: 30%; 
  border: 8px solid #F3BC77;
  border-radius: 20px;
}

.start{
  background-image: url(img/Start.png);  
  padding: 5%;
  background-repeat: no-repeat;
  background-size: contain;
  position:absolute;
  left: 44%;
  top: 70%; 
}

.start:hover{
    background-image: url(img/Start2.png); 
    padding: 5%;
    background-repeat: no-repeat;
    background-size: contain;
    position:absolute;
    left: 44%;
    top: 70%; 
  }

  .cardsGrid{
    width: 100%;
    display:flex;
    align-items: center;
    justify-content: space-between;
    align-content: space-between;
    flex-wrap:wrap;
    flex-direction: row;
    padding: 2%;
    position: absolute;
    top: 0.5%;
    left: 1%;
}

.boardCard{
  width: 16%;
  height: 0%;
  padding: 0%;
  margin: 0 0 2% 0;
  position: relative;
  perspective: 1000px;
}